<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>basketballApp</web-resource-name>
      <url-pattern>/basketballApp/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>appIndex</web-resource-name>
            <url-pattern>/appIndex.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>createTeamServlet</web-resource-name>
            <url-pattern>/createTeam</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>createResultsServlet</web-resource-name>
            <url-pattern>/createResults</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewSelectorServlet</web-resource-name>
            <url-pattern>/teamSelector</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewTeamServlet</web-resource-name>
            <url-pattern>/viewTeams</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

  <security-role>
    <role-name>user</role-name>
  </security-role>

  <security-role>
    <role-name>administrator</role-name>
  </security-role>

</web-app>
